




/* Usar la fuente que acabamos de importar */
/* Según los principios de css las fuentes vienen de la PC */
body
{
font-family: 'Poppins', sans-serif;
}




/* ---------- Selectores ---------- */

/* Selector de elemento - Nivel jerarquico 3*/
h1
{
    color: green;
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.product_cell
{
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

/* pseudoclases */
/* hover cambia al pasar el mouse */
.product_cell:hover
{
border-color: red;
border: 2px solid;
box-shadow: 0px 0px 20px 5px darkgray;
transform: scale(105%);
transition: 0.4s;
cursor: pointer;
}


.product_cell:hover > img
{
    opacity: 0.5;
}

/* el h2 esta inmediatamente despues de la clase laptop */

.laptop > h2
{
    color: blue;
}

.celular > h2
{
    color: red; 
}

.celular > h3
{
    color: brown; 
}

.audifonos > h2
{
    color:green;

}

.audifono > h3
{
    color:aquam;
}

.div_form
{
    width: 400px;
    margin: 20px auto;
}

.div_form > form > input
{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 60%;
    font-size: 20px;
    padding-left: 20px;
    /* evita que el navegador seleccione el input */
    outline: none;     
}

.div_form > form > input:focus
{
    border: 2px solid blue;    
}


.div_form > form > button
{
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 28%;
    outline: none;
}

.div_form > form > button:hover
{
    background-color: #666;
    cursor: pointer;
    color: #fff;
    border: none;
}

.div_form > form > button:focus
{
    border: 2px solid red;
}
